node_modules
dist
build
coverage
.env
.DS_Store
.idea
.vscode
*.log
*.tsbuildinfo
*.swp
/apps/**/node_modules
/apps/**/dist
/apps/**/build
/apps/**/coverage
/apps/**/.env
/apps/**/.DS_Store
/apps/**/.env