

.wip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 48px 0 32px 0;
}

.wip-icon {
  width: 100px;
  height: 100px;
  color: #d4a106;
  margin-bottom: 18px;
}

.wip-title {
  font-size: 2.7rem;
  font-weight: 700;
  color: #a36a00;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  gap: 10px;
}

.wip-text {
  text-align: center;
  color: #3d4652;
  font-size: 1.45rem;
  max-width: 700px;
  margin-bottom: 30px;
}
.wip-btn {
  margin-top: 2%;
  padding: 0.6em 1.2em;
  background-color: #0c1b33;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  color: #a36a00;
}
