.DS_Store
/backend/.DS_Store
/frontend/.DS_Store
/docs/.DS_Store
/postgresql/.DS_Store
/nginx/.DS_Store

.env
/backend/.env
/frontend/.env
/postgresql/.env
/nginx/.env

node_modules
/backend/node_modules
/frontend/node_modules

dist
/backend/dist
/frontend/dist

/backend/deploy_GesPack_BackEnd.sh
/frontend/deploy_GesPack_FrontEnd.sh